* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  font-size: 62.5%;
  --bg-color: #121214;
  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.25);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --primary-color-whitemode: hsl(var(--base-color), 100%, 43%);
  --text-white: #FFFFFF;
  --text-dark: #2b2b2b;

}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-white);
  display: grid;
  min-height: 100vh;
}

.togglemode {
  background-color: #ebebeb;
  color: var(--text-dark)
}

body.togglemode .controls .set svg path,
body.togglemode .controls .stop svg path {
  fill: var(--text-dark);
}

body.togglemode .controls .play svg path,
body.togglemode .controls .pause svg path,
body.togglemode .sound-on svg path,
body.togglemode .sound-off svg path {
  fill: var(--primary-color-whitemode);
}

header {
    justify-self: end;
    align-self: start;
    padding: 3rem 3rem 0 0;
    max-height: 6.4rem;
}

main {
  display: grid;
  justify-self: center;
  align-self: center;
}

#timer {
  display: flex;
  font-weight: 700;
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
  line-height: 10.3rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  background-color: var(--bg-primary-light);
  padding: 2.2rem 4rem;
  border-radius: 999.9rem;
  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vh, 10.8rem);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

.hide {
  display: none;
}

footer {
  justify-self: end;
  align-self: end;
  padding: 0 3rem 3rem 0;
}