* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

}

main {
  display: grid;
  place-content: center;
  justify-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
}